@model UpdateMenuPictureVM
@{
    ViewData["Title"] = "Update";
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <img src="~/assets/img/@Model.ImageUrl" width="300" height="100" />
        <div class="card-body">
            <p class="card-description">
                Update PizzaPicture Form
            </p>
            <form class="forms-sample" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label asp-for="Photo"></label>
                    <input asp-for=Photo class="form-control" placeholder="photo">
                    <span asp-validation-for="Photo" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="AddedBy"></label>
                    <input asp-for=AddedBy class="form-control" placeholder="AddedBy">
                    <span asp-validation-for="AddedBy" class="text-danger"></span>

                </div>




                <button type="submit" class="btn btn-primary mr-2">update</button>
                <a asp-action="index" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
</div>
@section Script{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

}