@model CreatePizzaServicesVM
@{
    ViewData["Title"] = "Create";
}

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description">
                Create Pizza Services  Form
            </p>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label asp-for="Photo"></label>
                    <input asp-for=Photo class="form-control" placeholder="Photo">
                    <span asp-validation-for="Photo" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="AddedBy"></label>
                    <input asp-for=AddedBy class="form-control" placeholder="AddedBy">
                    <span asp-validation-for="AddedBy" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="Title"></label>
                    <input asp-for=Title class="form-control" placeholder="Title">
                    <span asp-validation-for="Title" class="text-danger"></span>

                </div> <div class="form-group">
                    <label asp-for="Desciption"></label>
                    <input asp-for=Desciption class="form-control" placeholder="description">
                    <span asp-validation-for="Desciption" class="text-danger"></span>

                </div>




                <button type="submit" class="btn btn-primary mr-2">Create</button>
                <a asp-action="index" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
</div>
@section Script{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

}

