@{
    ViewData["Title"] = "ForgetPassword";
}


<section id="loginform">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-sm-12 col-md-12 mx-auto">
                <div class="form-container">
                    <p class="title"> ForgetPassword <span class="text-danger"></span></p>
                    <form class="form" method="post">
                        <input class="input" name="email" placeholder="Send Mail..."/>
                        <span class="text-danger"> @Html.ValidationMessage("Email")</span>

                        <button type="submit" class="form-btn ">Send Mail </button>
                    </form>

                </div>
            </div>
        </div>
    </div>


</section>