@using FinalProject_PapaJohns.ViewModels.Account;
@model ResetPasswordVM

@{
    ViewData["Title"] = "ResetPassword";
}
<section id="loginform">
    <div class="row">
        <div class="container">
            <div class="col-lg-12 col-md-12 col-sm-12 mx-auto">
                <div class="form-container">
                    <p class="title">Reset Password <span class="text-danger">PapaJohns!</span></p>
                    <form class="form" method="post">
                        <div asp-validation-summary="All"></div>

                        <label asp-for="Password"></label>
                        <input class="form-control input" asp-for="Password" />
                        <label asp-for="ConfirmedPassword"></label>
                        <input  class="form-control input" asp-for="ConfirmedPassword" />

                        <button type="submit" class="form-btn ">Reset Password</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
    </div>
</section>

