@model UpdateCategoryVM

@{
    ViewData["Title"] = "Update";
}


<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <p class="card-description">
                Category Update Form
            </p>
            <form class="forms-sample" method="post">
                <div class="form-group">
                    <label asp-for="Name">Name</label>
                    <input asp-for=Name class="form-control" placeholder="Username">
                    <span asp-validation-for="Name" class="text-danger"></span>

                </div>
                <div class="form-group">
                    <label asp-for="AddedBy">AddedBy</label>
                    <input asp-for=AddedBy class="form-control" placeholder="AddedBy">
                    <span asp-validation-for="AddedBy" class="text-danger"></span>

                </div>


                <button type="submit" class="btn btn-primary mr-2">Update</button>
                <a asp-action="index" class="btn btn-light">Cancel</a>
            </form>
        </div>
    </div>
</div>
@section Script{

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.2/jquery.validate.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

}